@model TaskDemo.Web.Models.TaskCreateModel

@{
    ViewBag.Title = "New Task";
}

<h2>Create New Task</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m=>m.ParentId)
    <fieldset>
        <p>
            @Html.LabelFor(m=>m.Name)
            @Html.TextBoxFor(m=>m.Name, new {@class="form-control"})
            @Html.ValidationMessageFor(m=>m.Name)
        </p>
        @Html.ValidationSummary(true)
    </fieldset>
    <p>
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-link" href="@Url.Action("Index", new {Id = Model.ParentId})">Cancel</a>
    </p>
}
