@model TaskDemo.Web.Models.TaskEditModel

@{
    ViewBag.Title = "Edit Task";
}

<h2>Edit Task</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)
    <fieldset>
        <p>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Name)
        </p>
        @Html.ValidationSummary(true)
    </fieldset>
    <p>
        <button type="submit" class="btn btn-success">Save</button>
        <a class="btn btn-link" href="@Url.Action("Index", new {Id = Model.ParentId})">Cancel</a>
    </p>
}
